
.details-container{
    width: 100%;
    min-height: 100%;

}
.details-content{
    width: 80%;
    min-height: 100%;
    margin-left: 10%;
    position: relative;
}


.breadcrumb{
    margin-top: 0;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}
.commodity-container{
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
}
.commodity-image{
    float: left;
    margin-left: 10%;
}

.bookImage{
    margin-top: 50px;
}

.commodity-details{
    margin-left: 30px;
    float: right;
    height: 400px;
}

.commodity-title{
    margin-top: 110px;
    margin-left: 20px;
    font: 700 30px/23px "Microsoft YaHei"
}
.commodity-info{
    margin-left: 20px;
    margin-top: 30px;
    color: #333;
    width: 400px;
    font: 14px/26px tahoma,arial,simsun;
}
.price-meta{
    margin-left: 20px;
    margin-top: 35px;
    height: 50px;
    vertical-align: middle;
}

.price-str{
    margin-top: -20px;
    display: inline-block;
    font-size: 50px;
    color: #F94646;
}

.row{
    width: 100%;
    margin-top: 30px;
    margin-left: 30px ;

}

.btn-theLeft{
    background-color: #FF8C00;
}
.btn-theRight{
    margin-left: 50px;
    background-color: #FF8C00;
}

