
.login-content{
    height: 100%;
    width: 100%;
    position: fixed;
}

.login-background{
    height:100%;
    width:100%;
    position:fixed;
    background: url("../../images/background.jpg") no-repeat;
    background-size:cover;

}
.panel-default{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    height: 300px;
    width: 350px;
    border-radius: 5px;
    margin: auto;
    top:0; left: 0; right: 0;bottom: 0;


}
.login-panel-body{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    top:50px;
    left: 75px;
    height: 200px;
    width: 200px;
    border-radius: 5px;

}

.form{
    position: relative;
    opacity: 1;
    margin: 0;
    height: 200px;
    width: 200px;
}