.main-container{
    width: 100%;
    min-height: 100%;

}
.main-content{
    width: 80%;
    min-height: 100%;
    margin-left: 10%;
    position: relative;

}

#myCarousel{
    margin-left: auto;
    background-size: cover;
    height: 300px;
}



#navigationBar{
    background-color: white;
    width:68%;
    margin-top: 20px;
}

.layui-nav{
    background-color: white;
}

#content-picture{
    display: flex;
    flex-direction: row;
}

#content-picture-left{
    width:60%;
}

#small_pic{
    width:30%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    height: 300px;
}

.small_pic{
    width: auto;
    display:flex;
    flex-direction: row;
    height: 140px;
}

.content{
    display: flex;
    flex-direction: column;
}

.book-type-title{
    margin-top: 50px;
    font-family: "Times New Roman";
    font-size: 22px;
    font-weight: bold;
}

.book-type-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-content{
    margin-top: 30px;
    margin-left: 25px;
    height: 300px;
    width:16%;
    background-color: #fafafa;
    border-top-style: solid;
    border-top-width: 1px;
    text-align: center;
}

.book-picture{
    width: 80%;
    margin-top:15px;
    margin-left:10px;
    margin-bottom: -5px;
}

.book-name{
    font-size:18px;
    font-family: "Times New Roman";
    margin-top:35px;
    margin-left:10px;
}

.book-info{
    width: 11em;
    height: 12px;
    line-height: 12px;
    margin-left: 10%;
    font-size: 12px;
    color: rgb(176,176,176);
    text-align: center;
    font-family: Times New Roman;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.book-price{
    font-family: "Times New Roman";
    font-size: 17px;
    text-align: center;
    color: #ff6709;;
}

.small_pic_name{
    color: #555555;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size:17px;
    margin-top: 15px;
}

.small_pic_info{
    width: 10em;
    color: #777777;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size:12px;
    margin-top:25px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.small_pic_content{
    display: flex;
    flex-direction: column;
    margin-left:5px;
}


