
.manane-container{
    width: 100%;
    min-height: 100%;

}
.manage-content{
    width: 80%;
    min-height: 100%;
    margin-left: 10%;
    position: relative;
}


.breadcrumb{
    margin-top: 0;
}

.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}

.table-container{
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

#myTabContent{
    width: 100%;
    min-height: 600px;
}


