.register-content{
    height:100%;
    width:100%;
    position:fixed;
}
.register-panel{
    position: absolute;
    height: 100%;
    width: 600px;
    border-radius: 5px;
    background: #ffffff;
    margin: auto;
    top:0; left: 0; right: 0;bottom: 0;

}
.register-panel-body{
    position: relative;
    top:100px;
    left: 200px;
    height: 200px;
    width: 200px;
    border-radius: 5px;

}
