
.uploadBook-container{
    width:100%;
    height:1000px;
}

.uploadBook-content{
    width: 80%;
    height:900px;
    margin-left: 10%;
    position: relative;
}

.uploadBook-body{
    width: 100%;
    height:100%;
    background:rgba(235,235,235,0.5);
}

.form-content{
    width: 60%;
    height:100%;
    margin-left: 20%;
}

.shop-form{
    width: 60%;
    height: 100%;
    margin-left: 20%;
}

.input-group{
    display: flex;
    flex-direction: row;
}
.preview {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
}

.fileupload {
    width: 200px;
    height: 200px;
    border: 1px dotted #aaa;
    display: inline-block;
}