<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交订单 -JIANSHU</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
</head>
<body>
<div class="buy-container" ng-controller="buyCtrl" ng-init="initBuy()">
    <div class="buy-content">
        <div>
            <ul class="breadcrumb">
                <li><a ng-click="backToMain()">主页</a></li>
                <li><a onclick="javascript:history.back(0);">商品详情</a></li>
                <li class="active">订单详情</li>
            </ul>
        </div>
        <div class="buy-body"  ng-model="currentBook">
            <div class="buy-details">
                <hr />
                <div id="userInfo" ng-model="currentUser">
                    <div id="user-Phone">
                        <h3>收货人：{{currentUser.receiver}}</h3>
                        <h3 style="margin-left: 150px">{{currentUser.phone}}</h3>
                    </div>
                    <div id="address">
                        <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 20px;margin-top: 10px"></i>
                        <h4>收货地址：{{currentUser.address}}</h4>
                    </div>
                </div>
                <hr />
                <div ng-model="bookShop">
                    <li><a ng-click="gotoOtherShop(bookShop.shopID)" style="font-size: 20px;color:black;margin-left: 20px;">{{bookShop.shopName}}&nbsp;></a></li>
                </div>
                <hr />
                <div id="bookInfo">
                    <div id="book-meta">
                        <img ng-src="{{currentBook.imageUrl}}" style="width: 120px;height: 150px;border-style: solid;border-width: 1px;border-color: grey;">
                        <div id="name-price">
                            <h4>{{currentBook.bookName}}</h4>
                            <div class="price-string">
                                <strong style="font-size: 20px;color:orangered;">
                                    <en>￥</en>
                                    <en>{{currentBook.bookPrice}}</en>
                                    <en style="font-size: 20px;margin-left: 50px;color:gray;">x1</en>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="orderInfo">
                    <div id="count">
                        <h4>购买数量：</h4>
                        <h4 style="margin-left: 490px">x1</h4>
                    </div>
                    <div id="deliver">
                        <h4>配送方式：</h4>
                        <h4 style="margin-left: 480px">自取</h4>
                    </div>
                </div>
                <hr />
                <div id="message">
                    <h4>留言：</h4>
                    <input id="leaveMessage" style="border-style: none;width: 300px;" placeholder="选填，请先和商家协调一致">
                </div>
                <hr />
                <div id="total">
                    <h4>共1件商品</h4>
                    <h4 style="margin-left: 420px;">小计：</h4>
                    <div id="total-price">
                        <strong style="font-size: 20px;color:orangered;">
                            <en>￥</en>
                            <en>{{currentBook.bookPrice}}</en>
                        </strong>
                    </div>
                </div>
                <div id="sure">
                    <div class="btn btn-sure">
                        <a ng-click="setOrder()" style="color: white">确认</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <iframe class="mainframe" src="page/footer.html" frameborder="0"  scrolling="no" >

        </iframe>
    </div>
</div>
</body>
</html>