<!DOCTYPE html>
<html lang="en">
<head>
    <title>商品详情 -JIANSHU</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        a:hover{text-decoration:none;}
    </style>
</head>
<body>
<div class="details-container"  ng-controller="detailsCtrl" ng-init="initDetails()">
    <div class="details-content" >
        <div>
            <ul class="breadcrumb">
                <li><a ng-click="backToMain()">主页</a></li>
                <li class="active">商品详情</li>
            </ul>
        </div>
       <div class="commodity-container" ng-model="currentBook">
           <div class="commodity-image">
               <img class="bookImage" ng-src="{{currentBook.imageUrl}}">
           </div>
           <div class="commodity-details">
               <h2 class="commodity-title">{{currentBook.bookName}}</h2>
               <hr style="margin-top:40px;">
               <p class="commodity-info">{{currentBook.bookInfo}}</p>
               <hr style="margin-top:30px;">
               <div class="price-meta">
                   <li>

                       <div>
                           <strong class="price-str">
                               <en style="font-size:36px;color: #F60">￥</en>
                               <en style="margin-left: -10px">{{currentBook.bookPrice}}</en>
                           </strong>
                       </div>
                   </li>
               </div>
               <div class="clearfix"></div>
               <div class="row">
                   <div class="btn btn-theLeft">
                       <a ng-click="gotoOrderDetails(currentBook.bookID)" style="color: black">立即购买</a>
                   </div>
                   <div class="btn btn-theRight">
                       <a href="#" style="color: white">加入购物车</a>
                   </div>
               </div>

           </div>

       </div>
    </div>
    <div class="footer">
        <iframe class="mainframe" src="page/footer.html" frameborder="0"  scrolling="no" >

        </iframe>
    </div>
</div>


</body>
</html>