<!DOCTYPE html>
<html lang="en">
<head>
    <title>后台管理 -JIANSHU</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        a:hover{text-decoration:none;}
    </style>
</head>
<body>
<div class="manage-container"  ng-controller="manageCtrl" ng-init="initManage()">
    <div class="manage-content" >

        <div class="table-container" >
            <script type="text/javascript">
                $(function () {
                    $('#myTab li:eq(0) a').tab('show');

                    $('#myTab a').click(function (e) {
                        e.preventDefault();
                        $(this).tab('show');
                    })
                })

            </script>
            <div class="page-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a ui-sref="monitor" href="#user" data-toggle="tab">用户管理
                        </a>
                    </li>
                    <li><a ui-sref="monitor" href="#shop" data-toggle="tab">店铺管理</a></li>
                    <li><a ui-sref="monitor" href="#book" data-toggle="tab">书籍管理</a></li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="user">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户ID</th>
                            <th>用户类型</th>
                            <th>年龄</th>
                            <th>学校</th>
                            <th>电话</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in allUser track by $index" ng-if="user.userID!='admin'">
                            <td>{{ $index }}</td>
                            <td>{{user.userID}}</td>
                            <td>{{user.type}}</td>
                            <td>{{user.age}}</td>
                            <td>{{user.school}}</td>
                            <td>{{user.phone}}</td>
                            <td><button type="button" class="btn btn-danger" ng-click="deleteUser(user.userID)">删除</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="shop">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>商店名称</th>
                            <th>商店注册人</th>
                            <th>类型</th>
                            <th>电话</th>
                            <th>注册时间</th>
                            <th>商店编号</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="shop in allShop track by $index">
                            <td>{{ $index + 1 }}</td>
                            <td>{{shop.shopName}}</td>
                            <td>{{shop.userID}}</td>
                            <td>{{shop.shopType}}</td>
                            <td>{{shop.phone}}</td>
                            <td>{{shop.createTime}}</td>
                            <td>{{shop.shopID}}</td>
                            <td><button type="button" class="btn btn-danger" ng-click="deleteShop(shop.shopID)">删除</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="book">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>商品名称</th>
                            <th>价格</th>
                            <th>上传者</th>
                            <th>上架时间</th>
                            <th>商品编号</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="book in allBook track by $index">
                            <td>{{ $index + 1 }}</td>
                            <td>{{book.bookName}}</td>
                            <td>{{book.bookPrice}}</td>
                            <td>{{book.userID}}</td>
                            <td>{{book.uploadTime}}</td>
                            <td>{{book.bookID}}</td>
                            <td><button type="button" class="btn btn-danger" ng-click="deleteBook(book.bookID)">删除</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <div id="setPage">
            <nav>
                <ul class="pagination">
                    <li>
                        <a ng-click="Previous()">
                            <span>上一页</span>
                        </a>
                    </li>
                    <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                        <a ng-click="selectPage(page)" >{{ page }}</a>
                    </li>
                    <li>
                        <a ng-click="Next()">
                            <span>下一页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <div class="footer">
        <iframe class="mainframe" src="page/footer.html" frameborder="0"  scrolling="no" >

        </iframe>
    </div>
</div>


</body>
</html>