<!DOCTYPE html>

<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JIANSHU</title>
    <link rel="stylesheet" href="page/css/ordersByType.css" type="text/css" />
</head>
<body>
<div class="shopInfo-content">
<ul class="breadcrumb">
    <li><a ng-click="backToMain()">主页</a></li>
    <li><a ng-click="gotoUserCenter()">个人中心</a></li>
    <li class="active">待发货</li>
</ul>
<div class="cell1">
    <div class="title">
        计算机网络<span>交易成功</span>
    </div>
    <div class="cell">
        <div class="text">
            <div class="brand" style="font-size: 30px">计算机网络</div>
            <span class="intro" style=" font-size: 17px;margin-top: 17px;">九成新，几乎没有使用痕迹</span>
            <span class="pay" style="font-size: 30px; margin-top: 30px;}">实际付款：￥20</span>
        </div>
        <div class="img"><img src="../images/jiwang.jpg"/></div>
    </div>
    <div class="myFooter">
        <div class="myBtn">
            <div class="myOption">
                删除订单
            </div>
            <div class="myOption">
                确认收货
            </div>
            <div class="myOption">
                立即评价
            </div>
        </div>
    </div>
</div>
</div>
<script>
    autoSize();
    window.onresize = function(){
        autoSize();
    };
    function autoSize(){
// 获取当前浏览器的视窗宽度，放在w中
        var w = document.documentElement.clientWidth;
// 计算实际html font-size大小
        var size = w * 100 / 375 ;
// 获取当前页面中的html标签
        var html = document.querySelector('html');
// 设置字体大小样式
        html.style.fontSize = size/2 + 'px';
    }
</script>
</body>
</html>