<!DOCTYPE html>
<html lang="en">
<head>
    <title>修改密码</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        a:hover{text-decoration:none;}
    </style>
</head>
<body>
<div class="resetPwd-container"  ng-controller="resetPwdCtrl" ng-init="initResetPwd()">
    <div class="userInfo-content">
        <div>
            <ul class="breadcrumb">
                <li><a ng-click="backToMain()">主页</a></li>
                <li> <a ng-click="gotoUserCenter()">个人中心</a></li>
                <li  class="active"> 修改密码</li>
            </ul>
        </div>
        <div class = "userInfo">
            <div class="userinfo_details">
                <ul class="userinfo_title">
                    <h3>修改密码</h3>
                    <p>Password Change</p>
                </ul>
                <div class="userinfo-line">
                    <p class="userinfo_details_label">用户名：</p>
                    <div class="userinfo_input">
                        {{userId}}
                    </div>
                </div>
                <div class="userinfo-line">
                    <p class="userinfo_details_label">原密码：</p>
                    <div class="userinfo_input">
                        <input autocomplete="off" type="password" rows="1" maxlength="16" validateevent="true" class="user_input_inner" id = "origin_pwd" style="border-radius: 4px">
                    </div>
                </div>
                <div class="userinfo-line">
                    <p class="userinfo_details_label">新密码：</p>
                    <div class="userinfo_input">
                        <input autocomplete="off" \ type="password" rows="1" maxlength="16" validateevent="true" class="user_input_inner" id = "new_pwd" style="border-radius: 4px">
                    </div>
                </div>
                <div class="userinfo-line">
                    <p class="userinfo_details_label">确认：</p>
                    <div class="userinfo_input">
                        <input autocomplete="off" \ type="password" rows="1" maxlength="16" validateevent="true" class="user_input_inner" id = "new_pwd_again" style="border-radius: 4px">
                    </div>
                </div>
                <div class="user-info-submit">
                    <div>
                        <button  type="button" class="submit" ng-click="resetPwd()">
                            <span class="save_button">确认修改</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <iframe class="mainframe" src="page/footer.html" frameborder="0"  scrolling="no" >
        </iframe>
    </div>
</div>
</body>
</html>